body {
    margin:0;
    padding:0;
    height:100%;
} 
.missing_line        {width: 200px; border-top: 1px solid #fcfcfc; background: #68dea5; background: -webkit-gradient(linear, left top, left bottom, from(#e87487), to(#fa7ba5)); background: -moz-linear-gradient(top, #e87487, #fa7ba5); padding: 0px 4px; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0; -moz-box-shadow: rgba(0,0,0,1) 0 1px 0; box-shadow: rgba(0,0,0,1) 0 1px 0;  color: #121212; font-size: 12px;  vertical-align: left; }
.modified_right_line {
    width: 200px; 
    border-top: 1px solid #fcfcfc; 
    background: #68dea5; 
    background: -webkit-gradient(linear, left top, left bottom, from(#42e3a0), to(#68dea5)); 
    background: -moz-linear-gradient(top, #42e3a0, #68dea5); 
    padding: 0px 4px; 
    -webkit-border-radius: 0px; 
    -moz-border-radius: 0px; 
    border-radius: 0px; 
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0; 
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0; 
    box-shadow: rgba(0,0,0,1) 0 1px 0;  
    color: #121212; 
    font-size: 12px;  
    vertical-align: left; 
}
.modified_left_line  {width: 200px; border-top: 1px solid #fcfcfc; background: #21a4eb; background: -webkit-gradient(linear, left top, left bottom, from(#94bafc), to(#21a4eb)); background: -moz-linear-gradient(top, #94bafc, #21a4eb); padding: 0px 4px; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0; -moz-box-shadow: rgba(0,0,0,1) 0 1px 0; box-shadow: rgba(0,0,0,1) 0 1px 0;  color: #121212; font-size: 12px;  vertical-align: left; }
.changed_part        {width: 200px; border-top: 1px solid #d2ff96; background: #b4c46a; background: -webkit-gradient(linear, left top, left bottom, from(#cef57a), to(#b4c46a)); background: -moz-linear-gradient(top, #cef57a, #b4c46a); padding: 0px 4px; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0; -moz-box-shadow: rgba(0,0,0,1) 0 1px 0; box-shadow: rgba(0,0,0,1) 0 1px 0;  color: #080808; font-size: 12px;  vertical-align: left; }
.unmodifed_line {width: 200px; border-top: 1px solid #fcfcfc; background: #ffffff; padding: 0px 4px; box-shadow: rgba(0,0,0,1) 0 1px 0; color: #121212; font-size: 12px; text-decoration: none; vertical-align: left; } 
.editor_pp {width:380px; height: 200px; margin: 15px;padding: 10px; overflow: scroll;}

.button {
    border-top: 1px solid #b8dcf2;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#4a86d9), to(#65a9d7));
    background: -moz-linear-gradient(top, #4a86d9, #65a9d7);
    padding: 10.5px 21px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 19px;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
.button_hover {
   border-top: 1px solid #b8dcf2;
   padding: 10.5px 21px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   font-size: 19px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;

   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }



.file_input_div
{
	position: relative; 
	width: 100px; 
	height: 60px; 
	overflow: hidden;
}

.file_input_hidden
{
   position: absolute; 
   right: 0px; 
   top: 0px; 
   opacity: 0;
   filter: alpha(opacity=0); 
	-ms-filter: "alpha(opacity=0)"; 
	-khtml-opacity: 0; 
	-moz-opacity: 0;

}

.display_section {
    position:absolute; clear:left;
    height:90%; width:99%;
    left:5px;
    margin:0 auto;
    background:#fff;
    border:0px solid #666;
}

.editor { 
    display:none; 
    border: 2px solid black; 
    padding: 10px; 
    overflow: scroll;
    position:relative;
    height:100%;
    width:98%;
    top:0; right:0;
    margin:0 auto;
    background:#fff;
    float:left;
}
.editor1 { 
    display:none; 
    border: 2px solid black; 
    padding: 0px; 
    overflow: scroll;
    position:absolute;
    height:90%;
    top:54px; left:0.1%;
    margin:0 auto;
    background:#fff;
    float:left;
}
.editor2 { 
    display:none; 
    border: 2px solid black; 
    padding: 0px; 
    overflow: scroll;
    position:absolute;
    height:90%;
    top:54px; left:50%;
    margin:0 auto;
    background:#fff;
}



.top_space_time1 {
	position:relative; float:left;
	height:50%;	margin-bottom:-10%;
	width:1px;
}
.top_space_time2 {
	position:relative; float:left;
	height:50%;	margin-bottom:-50%;
	width:1px;
}

#button_section {
	position:relative; clear:left;
	height:52px; width:70%;
	margin:0 auto;
	background:#fff;
	border:0px solid #666;
}
 
}

